
<div class="invite-page" [@routerTransition]>
        <app-page-header [heading]="'Invite'" [icon]="'fa-envelope'"></app-page-header>
    <div class="row justify-content-md-center">
        <div class="col-md-4"> 
                <ngb-alert type="danger" *ngIf="sgListerror" (close)="sgListerror=false;">No Groups Selected.</ngb-alert>
        <div *ngIf="myData">
                <div *ngIf="!myData?.error; else inviteerror">
                        <ngb-alert type="success" *ngIf="!closed" (close)="closed=true">The Customer has been Invited.</ngb-alert>                  
                </div>
                <ng-template #inviteerror>
                        <ngb-alert type="danger" *ngIf="!closed" (close)="closed=true">{{myData.error_msg}}</ngb-alert> 
                </ng-template>                
        </div>        
    </div>
  </div>
<div class="row justify-content-md-center">
    <div class="col-md-4">        
        <h1>Invite Customers</h1><br>
        <h5>Select Groups</h5>
        <span style="padding: 5px;overflow: auto;display: inline-block;margin: 5px;">            
            <span *ngFor="let group of securityGroups?.security_groups" >                
                <input *ngIf="group.GroupID" type="checkbox" (change)="AddRemove(group.GroupID,$event)"/> {{group.GroupName | titlecase}}<br>
            </span>    
        </span>  
        <form #InviteForm="ngForm" (ngSubmit)="userInvite(InviteForm.value); InviteForm.reset() ">   
            <div class="form-content">
                <div class="form-group">
                    <input name="email" email #invitemail="ngModel" [(ngModel)]="email" class="form-control input-underline input-lg" id="email" placeholder="Email" required>
                </div>   
                <div *ngIf="invitemail.invalid && (invitemail.dirty || invitemail.touched)" class="alert alert-danger">   
                <div *ngIf="invitemail.errors.required">Email is required.</div>    
                <div *ngIf="invitemail.errors.email">Email is not valid.</div>   
                </div>  
            </div>
            <button class="btn btn-success" type="submit" [disabled]="!InviteForm.form.valid"> Invite </button>          
        </form>
    </div>
</div>

</div>

