<div class="orders-page" [@routerTransition] >
    <app-page-header [heading]="'Orders'" [icon]="'fa-shopping-cart'"></app-page-header>
<div *ngIf="!myData?.error">
    <table *ngIf="!editCheck" class='table table-hover table-responsive text-center'>

      <tr>
          <th>Order ID</th>
          <th>Name</th>
          <th>Company Name</th>          
          <th>Email</th>
          <th>Date Time</th>
          <th>Actions</th>
      </tr>

      <!-- Use *ngFor directive to loop throught our list of orders. -->
      <tr *ngFor="let order of myData?.orders">
          <td>{{order.Id}}</td>
          <td>{{order.Name}}</td>
          <td>{{order.Company}}</td>
          <td>{{order.Email}}</td>  
          <td>{{order.Date}}</td> 
          <td id="actions_td">
                  <!-- edit Order button -->                  
                  <button (click)="getSigleOrder(order.Id)" class='btn btn-info '>
                       Edit Order
                  </button>&nbsp;                  
          </td>         
      </tr>

  </table>
    <app-single-order *ngIf="editCheck" [newCart]="newCart" [fullCart]="singleOrderData" (editCheckChange)="editCheckChangeHandler($event)" (saveCheckChange)="saveCheckChangeHandler($event)"></app-single-order>
</div>
<div *ngIf="myData?.error" >    
   <img src="../../../assets/images/ordersnone.png"/><br> No Orders   
</div>
</div>
