
<div class="invite-list-page" [@routerTransition]>
<app-page-header [heading]="'Customer List'" [icon]="'fa-search'"></app-page-header>
  <div *ngIf="!editCustomer" class="row justify-content-md-center">
      <div class="col-md-5"> 
      <div *ngIf="myData">
              <div *ngIf="myData.error==false; else inviteerror">
                    <div *ngIf="myData.success_msg; else messagecommon">
                      <ngb-alert type="success" *ngIf="!closed" (close)="closed=true">{{myData.success_msg}}</ngb-alert>    
                    </div>     
                    <ng-template #messagecommon>
                        <ngb-alert type="success" *ngIf="!closed" (close)="closed=true">The Customer List has been generated.</ngb-alert>
                    </ng-template>         
              </div>
              <ng-template #inviteerror>
                      <ngb-alert type="danger" *ngIf="!closed" (close)="closed=true">{{myData.error_msg}}</ngb-alert> 
              </ng-template>
      </div>      
  </div>
  </div>
 
  <div  class="row justify-content-md-center">
    
  <div class="col-md-auto" *ngIf="!editCustomer">        
        <div class="col-md-auto text-center">  
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary" (click)="inviteList()">Full List</button>
                <button type="button" class="btn btn-primary" (click)="pendingList()">Pending </button>
                <button type="button" class="btn btn-primary" (click)="acceptedList()">Accepted </button>                
            </div>
            <form class="form-inline" #InviteSearch="ngForm" (ngSubmit)="searchlist(InviteSearch.value); InviteSearch.reset() " style="display: -webkit-inline-box;">
                <input class="form-control" name="email" [(ngModel)]="email" type="email" placeholder="Search using Email">
            </form>
        </div>
        <br> <h1>Customer List</h1> <br>

    <!-- HTML table for our list of product records -->
    <table class='table table-hover table-responsive'>
 
        <tr>
            <th>First name</th>
            <th>Last Name</th>
            <th>Company Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>

        <!-- Use *ngFor directive to loop throught our list of products. -->
        <tr *ngFor="let user of myData?.users">
            <td>{{user.fname}}</td>
            <td>{{user.lname}}</td>
            <td>{{user.company}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>  
            <td id="actions_td">
                    <!-- edit customer button -->
                    
                    <button (click)="editCustomerInfo(user.unique_id,user.fname,user.lname,user.company,user.phone,user.security_group);" class='btn btn-primary '>
                         Edit Customer
                    </button>&nbsp;
 
                    <!-- delete customer button -->
                    <button (click)="deleteCustomer(user.unique_id)" class='btn btn-danger '>
                       Delete
                    </button>&nbsp;
                    <button (click)="copyFunction(user.email,user.unique_id)" class='btn btn-success '>
                            Invite Link
                    </button>
            </td>         
        </tr>

    </table>
  </div>

  <div class="col-md-5" *ngIf="editCustomer">
    <button (click)="editCustomer=false;currentUser='';" class='btn btn-primary pull-right'>Back</button>
    <span *ngFor="let user of myData?.users">
    <table class="table table-striped table-borderless" *ngIf="user.unique_id==currentUser">
        
        <thead >
            <tr>            
            <th scope="col">Details</th>
            <th scope="col">Action</th>                
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <th scope="row">First name</th>
                <td class="align-middle"><input type="text"  [(ngModel)]="ufname">  </td>              
            </tr>
            <tr>
                <th scope="row">Last Name</th>
                <td class="align-middle"><input type="text"  [(ngModel)]="ulname">  </td>              
            </tr>
            <tr>
                <th scope="row">Company Name</th>
                <td class="align-middle"> <input type="text"  [(ngModel)]="ucompany">  </td>             
            </tr>
            <tr>
                <th scope="row">Phone</th>
                <td class="align-middle"> <input type="text"  [(ngModel)]="uphone">  </td>             
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td class="align-middle"> <input type="text" disabled [value]="user.email">  </td>             
            </tr>
            <tr>
                    <th scope="row">Security Group</th>
                    <td class="align-middle"> 
                        <span style="padding: 5px;overflow: auto;display: inline-block;margin: 5px;">            
                            <span *ngFor="let group of securityGroups?.security_groups" >                
                                <input *ngIf="group.GroupID" type="checkbox" [checked]="user.security_group.includes(group.GroupID)" (change)="AddRemove(group.GroupID,$event)"/> {{group.GroupName | titlecase}}<br>
                            </span>    
                        </span>  
                    </td>             
                </tr>
            <tr>
                <th scope="row"></th>
                <td id="actions_td">
                        <!-- edit customer button -->
                        
                        <button (click)="updateCustomer(ufname,ulname,ucompany,uphone);" class='btn btn-success '>
                             Update
                        </button>&nbsp;
     
                        <!-- delete customer button -->
                        <button (click)="editCustomer=false;currentUser='';" class='btn btn-danger '>
                           Cancel
                        </button>
                </td>                
            </tr>
        </tbody>
        
    </table>
</span>
    </div>
  </div>
</div> 

