<div style="background-color:#53565A;width: -webkit-fill-available;position: fixed;z-index: 999; ">    
  <mat-toolbar class="menu-bar" style="    background-color: unset;
  color: ghostwhite;">
    <span class="step-three">      
    <span *ngFor="let item of navItems" >
      <!-- Handle branch node buttons here -->
      <span *ngIf="item.children && item.children.length > 0">
        <button mat-button [matMenuTriggerFor]="menu.childMenu"
        [disabled]="item.disabled">
          {{item.displayName}}
        </button>
        <app-menu-item #menu [items]="item.children"></app-menu-item>
      </span>
      <!-- Leaf node buttons here -->
      <span *ngIf="!item.children || item.children.length === 0">
        <button mat-button color="primary" [routerLink]="item.route">
          {{item.displayName}}
        </button>
      </span>
    </span>
  </span>
    <!-- <span class="step-one">
    <button mat-button [matMenuTriggerFor]="menu">Selection Genie</button>  
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="LoadGenie()">
          Selection Genie
      </button>      
    </mat-menu>
    </span> -->
    <span class="step-four">
        <button mat-button [matMenuTriggerFor]="menus">FAQs</button>  
        <mat-menu #menus="matMenu" [overlapTrigger]="false">
          <button mat-menu-item  [routerLink]="['/faq']" [routerLinkActive]="['router-link-active']">
              FAQs
          </button>      
        </mat-menu>
        </span>
    <span [class]="QuestionBounceCheck" (click)="OpenTour();" [ngStyle]="{'cursor': 'pointer'}" data-toggle="tooltip" placement="right" ngbTooltip="Tutorial"><i class="fa fa-question-circle"></i></span>
    <span class="fill-space"></span>
    
    <span class="step-two" style="display: flex;">
    <input [(ngModel)]="searchText" (keydown.enter)="Search(searchText);searchText='';" type="search" placeholder="Search.." name="search" style="font-size: 1rem;">
    <button (click)="Search(searchText);searchText='';" style="font-size: 1rem;"><i class="fa fa-search"></i></button>
    </span>    
    <!-- <span *ngFor="let item of myData?.cats; let i=index">
        <button *ngIf="item.CategoryParent==0" mat-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{name: item.CategoryName}">{{item.CategoryName}}</button>
        <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
            <ng-template matMenuContent let-name="name">
              <div *ngFor="let item2 of myData?.cats">
                  <span *ngIf="item.CategoryID== item2.CategoryParent">
                      <button mat-menu-item [routerLink]="['/products/',item2.CategoryID]" [routerLinkActive]="['router-link-active']">{{item2.CategoryName}}</button>
                  </span>
                </div>
            </ng-template>
        </mat-menu>
    </span> -->
  </mat-toolbar>

</div>