<div >    
  <mat-toolbar class="menu-bar">
    <span class="step-three">      
    <span *ngFor="let item of navItems" >
      <!-- Handle branch node buttons here -->
      <span *ngIf="item.children && item.children.length > 0">
        <button mat-button [matMenuTriggerFor]="menu.childMenu"
        [disabled]="item.disabled">
          {{item.displayName}}
        </button>
        <app-menu-item #menu [items]="item.children"></app-menu-item>
      </span>
      <!-- Leaf node buttons here -->
      <span *ngIf="!item.children || item.children.length === 0">
        <button mat-button color="primary" [routerLink]="item.route">
          {{item.displayName}}
        </button>
      </span>
    </span>
  </span>
    <span class="step-one">
    <button type="button" (click)="LoadGenie()" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Quickly Select Categories">
        Selection Genie
      </button>      
    </span>
    <span [class]="QuestionBounceCheck" (click)="OpenTour();"><i class="fa fa-question-circle"></i></span>
    <span class="fill-space"></span>
    
    <span class="step-two">
    <input [(ngModel)]="searchText" (keydown.enter)="Search(searchText);searchText='';" type="search" placeholder="Search.." name="search">
    <button (click)="Search(searchText);searchText='';"><i class="fa fa-search"></i></button>
    </span>
    
  </mat-toolbar>

</div>