<div class="row justify-content-md-center">
  <div class="col-md-12"> 
  <div *ngIf="myData">
          <div *ngIf="myData.error==false; else forgoterror">
                  <ngb-alert type="success" *ngIf="!closed" (close)="closed=true">A reset email has been sent to your email. Follow Instructions.</ngb-alert>                  
          </div>
          <ng-template #forgoterror>
                  <ngb-alert type="danger" *ngIf="!closed" (close)="closed=true">{{myData.error_msg}}</ngb-alert> 
          </ng-template>
  </div>
  
</div>
</div>
<div class="row justify-content-md-center">
<div class="col-md-6">        
  <h4>Enter Email</h4><br>
  <form #ForgotForm="ngForm" (ngSubmit)="userForgot(ForgotForm.value); ForgotForm.reset() ">   
      <div class="form-content">
          <div class="form-group">
              <input name="email" email #forgotmail="ngModel" [(ngModel)]="email" class="form-control input-underline input-lg" id="email" placeholder="Email" required>
          </div>   
          <div *ngIf="forgotmail.invalid && (forgotmail.dirty || forgotmail.touched)" class="alert alert-danger">   
          <div *ngIf="forgotmail.errors.required">Email is required.</div>    
          <div *ngIf="forgotmail.errors.email">Email is not valid.</div>   
          </div>  
      </div>
      <button class="btn btn-success" type="submit" [disabled]="!ForgotForm.form.valid"> Reset Password </button>          
  </form>
</div>
</div>
