	<!-- Slider -->

	<!-- <div class="main_slider" style="background-image:url(assets/images/slider1.jpg)">
		<div class="container fill_height">
			<div class="row align-items-center fill_height">
				<div class="col">
					<div class="main_slider_content">
						<h6>Spring / Summer Collection 2018</h6>
						<h1>Get up to 30% Off New Arrivals</h1>
						<div class="red_button shop_now_button"><a href="#">shop now</a></div>
					</div>
				</div>
			</div>
		</div>
  </div> -->
<!-- <app-genie></app-genie> -->
<!-- <div class="col-md-12">
    <ngb-carousel>
        <ng-template ngbSlide>
            <img class="img-fluid mx-auto d-block" src="/assets/images/homepage-slider-1.jpg" width="100%">
            <div class="carousel-caption" style="color:black;">
                <div class="row justify-content-center"> 
              <div style="background-color:rgba(228, 236, 236, 0.322);" class="col-md-4">
                <h2 >Winter Ready Outerwear</h2>
                <p>Thermal polyfill insulation in a matching packable jacket and packable vest.</p>
                <div class="red_button shop_now_button"><a [routerLink]="['/products/search/','prevail']" [routerLinkActive]="['router-link-active']">Learn More</a></div>
              </div>
            </div>
            </div>
        </ng-template>
    
    
        <ng-template ngbSlide >
            <img class="img-fluid mx-auto d-block" src="/assets/images/homepage-slider-2.jpg" width="100%">
            <div class="carousel-caption" style="color:black;">
                <div class="row justify-content-center">
              <div style="background-color:rgba(228, 236, 236, 0.322);" class="col-md-4 align-self-center">
                <h2>Uniforming Made Easy</h2>
                <p>One fabric family, 6 coordinating styles.</p>
                <div class="red_button shop_now_button"><a [routerLink]="['/products/search/','Clique Summit']" [routerLinkActive]="['router-link-active']">Learn More</a></div>
              </div>
              </div>
            </div>
        </ng-template>        
    </ngb-carousel>
</div> -->

<div class="col-lg-12">
  <div class="container">
    <div style="padding-top: 30px; ">
      <h1 style="color:#ee5d31 ">Welcome to the <br>Product Selection Tool</h1>      
    </div>
    <h4 style="color:#53565A;padding-top:20px ">Use the Selection Genie to choose products for your store in five steps:</h4>
      
      <div class="row h-100 justify-content-center" style="padding:2%;color:#53565A;"> 
          <div class="column"  style="width: 230px;padding:1%">
              <h3><p>1. Pick Category</p></h3>
            <img src="/assets/images/QS-Step1.PNG" style="width:100%;padding:1%">            
          </div>
          <span class="sepText"></span>
          <div class="column " style="width: 180px;padding:1%" >
              <h3><p>2. Pick Style</p></h3>
            <img src="/assets/images/QS-Step2.PNG" style="width:100%;">            
          </div>  
          <span class="sepText"></span>
          <div class="column" style="width: 200px;padding:1%" >
              <h3><p>3. Pick Color</p></h3>
              <img src="/assets/images/QS-Step3.PNG" style="width:100%;">            
          </div>
          <span class="sepText"></span>
          <div class="column " style="width: 170px;padding:1%" >
              <h3 ><p>4. Repeat</p></h3>             
              <b>For any apparel categories, styles and colors you want your site to include</b>                               
          </div>
          <span class="sepText"></span>
          <div class="column" style="width: 220px;padding:1%" >
              <h3><p>5. Click - Done!</p></h3>
              <img src="/assets/images/QS-Step5.PNG" style="width:100%;">            
          </div>
      </div>

      <div class="home_bg">
        <div class="row">
          <div class="col"></div>
          <div class="col" style="color:white; margin-left:8rem;margin-top: 5rem">
            <h2>Selection Genie</h2>
            <h5>Use the automated Selection Genie to choose from only the categories, brands, colors, or price points that you want to see. It’s quick! It’s efficient!      
            </h5>
            <div style="padding-right: 20px">
            <button class="btn-lg btn-primary pull-right" [ngStyle]="{'cursor': 'pointer'}" style="background-color:#AAAD00;border-style: double;border-color: white;" (click)="LoadGenie()"><b>GET STARTED</b></button>
            </div>
          </div>
          </div>
      </div> 
  </div> 
  
  
</div>

  
  
  <!-- Banner -->

	<!-- <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="banner_item align-items-center" style="background-image:url(assets/images/slider1.jpg)">
              <div class="banner_category">
                <a [routerLink]="['/products',835]" [routerLinkActive]="['router-link-active']">Apparel</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="banner_item align-items-center" style="background-image:url(assets/images/slider2.jpg)">
              <div class="banner_category">
                <a [routerLink]="['/products',836]" [routerLinkActive]="['router-link-active']">Hardgoods</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="banner_item align-items-center" style="background-image:url(assets/images/slider3.jpg)">
              <div class="banner_category">
                <a [routerLink]="['/products',852]" [routerLinkActive]="['router-link-active']">Accessories</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- new arrival-->
    <!-- <div class="colorlib-shop">
        <div class="container step-four">
          <div class="row">
            <div class="col-md-12 col-md-offset-3 text-center colorlib-heading">
              <h2><span>New Arrival</span></h2>
              <p>The Latest Products in our Catalogues.</p>
            </div>
          </div>
          <div class="row">
              <div *ngFor=" let item of myData?.new_products" class="col-md-3 text-center">
                <div class="product-entry">
                  <div class="product-img" [routerLink]="['/product-detail',item.ProductID]" [routerLinkActive]="['router-link-active']" [ngStyle]="{'cursor': 'pointer'}" [style.backgroundImage]="this.url+item.ProductID+'_'+getMain(item.ImageFile)+this.url_close">
                      
                      <div class="cart">
                        <p>                                            
                          <span><a [routerLink]="['/product-detail',item.ProductID]" [routerLinkActive]="['router-link-active']"><i class="fa fa-eye">    View Product</i></a></span> 
                        </p>
                      </div>
                  </div>
                  <div class="desc">
                      <h3><a [routerLink]="['/product-detail',item.ProductID]" [routerLinkActive]="['router-link-active']">{{item.ProductName}}</a></h3>
                      <p class="price"><span>{{item.Price|currency:'USD'}}</span></p>
                  </div>
              </div>
              </div>
            </div>
          
        </div>
      </div> -->

      <!--Products-->

      <!-- <div class="colorlib-shop">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-md-offset-3 text-center colorlib-heading">
                <h2><span>Our Products</span></h2>                
              </div>
            </div>
            <div class="row">
                <div *ngFor=" let item of myData?.rand_products|slice:0:8" class="col-md-3 text-center">
                  <div class="product-entry">
                    <div class="product-img" [routerLink]="['/product-detail',item.ProductID]" [routerLinkActive]="['router-link-active']" [ngStyle]="{'cursor': 'pointer'}" [style.backgroundImage]="this.url+item.ProductID+'_'+getMain(item.ImageFile)+this.url_close">
                        
                        <div class="cart">
                          <p>                                            
                            <span><a [routerLink]="['/product-detail',item.ProductID]" [routerLinkActive]="['router-link-active']"><i class="fa fa-eye">    View Product</i></a></span> 
                          </p>
                        </div>
                    </div>
                    <div class="desc">
                        <h3><a [routerLink]="['/product-detail',item.ProductID]" [routerLinkActive]="['router-link-active']">{{item.ProductName}}</a></h3>
                        <p class="price"><span>{{item.Price|currency:'USD'}}</span></p>
                    </div>
                </div>
                </div>
              </div>
          </div>
        </div> -->

                    



    

    