hr {
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
$topnav-background-color: ghostwhite;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #222;
        }
        .nav-item > a {
            color: rgb(134, 134, 134);
            &:hover {
                color: #000;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
