<div *ngIf="newCart && !addCheck && !approveCheck" class="col-md-auto text-center">    
    <div class="btn-group" role="group" aria-label="Basic example">    
        <button class="btn btn-primary  " (click)="AddProduct()">Add Product </button> 
        <button class="btn btn-success " (click)="ApproveCheck()"> Approve </button>
        <button class="btn btn-primary" (click)="Close()"> Go Back</button>
    </div><br><br>
<table class='table table-hover table-responsive'>
      <tr><th></th>
          <th>Product Details</th>
          <th>Price</th>
          <th colspan=2 class="text-center">Actions</th>          
          
      </tr>
      <tr *ngFor="let item of newCart;let count=index">
          <td>
              <img class="product-img" [src]="'https://www.afhsgear.com/sites/998/products/998_' +item.ProductID+'_'+getThumb(item.ImageFile)"/>
          </td>
          <td>
              <h5><a [routerLink]="['/product-detail',item.ProductID]" [routerLinkActive]="['router-link-active']">{{item.ProductName}}</a></h5>
              <div *ngIf="!(myData?.colors[0].ProductID==item.ProductID)">
                <span *ngFor=" let item2 of item.Colors;"><span  class="colorslisted"><i class="fa fa-dot-circle-o"></i>{{item2}} </span> </span>
              </div>
              <div *ngIf="myData?.colors[0].ProductID==item.ProductID">
                    <p> 
                        <span *ngFor="let colors of myData.colors;let i=index">
                            <span style="border: 1px solid black;padding: 5px;overflow: auto;display: inline-block;margin: 5px;">
                                <input *ngIf="colors.ProductID!=null" type="checkbox" [checked]="item.Colors.includes(colors.A2_Label)" (change)="AddRemove(item.ProductID,colors.Attr2,colors.A2_Label,item.selectionid,colors.Price,item.ProductName,colors.ImageFile,$event)" /> {{colors.A2_Label}}
                                <img [src]="'https://www.afhsgear.com/sites/998/products/998_' +myData?.colors[0].ProductID+'_'+getThumb60(colors.ImageFile)"/> 
                            </span>
                        </span>  
                    </p>
              </div>
          </td>
        <td>{{item.Price| currency:'USD'}}</td>
        <td>
            <button  *ngIf="!(myData?.colors[0].ProductID==item.ProductID)" class="btn btn-primary" (click)="EditProduct(item.ProductID)">Edit</button>
            <button *ngIf="myData?.colors[0].ProductID==item.ProductID" class="btn btn-primary" (click)="Save(item.selectionid)">Save</button>            
        </td>
        <td style="text-align:center">        
        <button class="btn btn-danger" (click)="Remove(item.ProductID,item.selectionid);"> Remove</button>
        </td>
      </tr>
</table>
</div>


<app-add-product *ngIf="addCheck" [allProducts]="allProducts" [selectionid]="selectionid" (addCheckChange)="addCheckChangeHandler($event)" (saveAddChange)="saveAddChangeHandler($event)"></app-add-product>
<div *ngIf="approveCheck">

    <button class="btn btn-primary pull-right" (click)="CloseApprove()"> Go Back</button>

<p>Enter Site ID</p>
<select [(ngModel)]="siteid"  placeholder="Product Name" required>          
    <option *ngFor="let item of siteIds.siteid" [value]="item.ID" >{{item.NAME}}</option>          
</select><br><br>
<button class="btn btn-success " (click)="Approve(siteid)">Approve Selection</button>
</div>

