<div class="orders-page" [@routerTransition]>
    <app-page-header [heading]="'Orders'" [icon]="'fa-shopping-cart'"></app-page-header>
    <div class="row justify-content-md-center">
        <div *ngIf="!editCheck && !viewCheck" class="col-md-auto text-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button class='btn btn-primary' (click)="PendingCheck()">Pending Orders</button>
                <button class='btn btn-primary' (click)="ApproveCheck()">Approved Orders</button>
            </div>
        </div>
        <br><br>
    </div>

    <div class="row justify-content-md-center">
        <div *ngIf="!myData?.error && !approvedCheck" class="col-md-auto">
            <br>
            <h1 *ngIf="!editCheck">Pending Orders</h1> <br>
            <table *ngIf="!editCheck" class='table table-hover table-responsive'>

                <tr>
                    <th style="width: 5%">Order ID</th>
                    <th style="width: 10%">Name</th>
                    <th style="width: 10%">Company Name</th>
                    <th style="width: 15%">Email</th>
                    <th style="width: 10%">Ordered On</th>
                    <th style="width: 30%">Notes</th>
                    <th style="width: 20%">Actions</th>
                </tr>

                <!-- Use *ngFor directive to loop throught our list of orders. -->
                <tr *ngFor="let order of myData?.orders">
                    <td>{{order.Id}}</td>
                    <td>{{order.Name|titlecase}}</td>
                    <td>{{order.Company|titlecase}}</td>
                    <td>{{order.Email}}</td>
                    <td>{{order.Date}}</td>
                    <td>{{order.Notes}}</td>
                    <td id="actions_td">
                        <!-- edit Order button -->
                        <button (click)="notes=order.Notes;getSigleOrder(order.Id);" class='btn btn-primary '>
                            Edit Order
                        </button>&nbsp;
                    </td>
                </tr>

            </table>
            <app-single-order *ngIf="editCheck" [newCart]="newCart" [notes]="notes" [fullCart]="singleOrderData" (editCheckChange)="editCheckChangeHandler($event)" (saveCheckChange)="saveCheckChangeHandler($event)"></app-single-order>
        </div>
        <div *ngIf="myData?.error && !approvedCheck">
            <img src="../../../assets/images/ordersnone.png" /><br> No Pending Orders
        </div>

        <div *ngIf="!subData?.error && approvedCheck && !viewCheck" class="col-md-auto">
            <br>
            <h1>Approved Orders</h1> <br>
            <table *ngIf="!editCheck" class='table table-hover table-responsive'>

                <tr>
                    <th>Order ID</th>
                    <th>Name</th>
                    <th>Company Name</th>
                    <th>Email</th>
                    <th>Approved On</th>
                    <th>Approved By</th>
                    <th>Actions</th>
                </tr>

                <!-- Use *ngFor directive to loop throught our list of orders. -->
                <tr *ngFor="let order of subData?.orders">
                    <td>{{order.Id}}</td>
                    <td>{{order.Name|titlecase}}</td>
                    <td>{{order.Company|titlecase}}</td>
                    <td>{{order.Email}}</td>
                    <td>{{order.Date}}</td>
                    <td>{{order.Approved_by_name|titlecase}}</td>
                    <td id="actions_td">
                        <!-- edit Order button -->
                        <button (click)="getSigleApprovedOrder(order.Id)" class='btn btn-primary'>
                           View Order
                      </button>&nbsp;
                    </td>
                </tr>

            </table>
            <app-single-order *ngIf="editCheck" [newCart]="newCart" [notes]="notes" [fullCart]="singleOrderData" (editCheckChange)="editCheckChangeHandler($event)" (saveCheckChange)="saveCheckChangeHandler($event)"></app-single-order>
        </div>
        <div *ngIf="subData?.error && approvedCheck">
            <img src="../../../assets/images/ordersnone.png" /><br> No Pending Orders
        </div>


        <div *ngIf="viewCheck" class="col-md-auto">
            <button class="btn btn-primary" (click)="CloseApproved()"> Go Back</button>
            <br>
            <h1>Order Details</h1> <br>
            <table class='table table-hover table-responsive'>
                <tr>
                    <th></th>
                    <th>Product Details</th>
                    <th>Price</th>
                </tr>
                <tr *ngFor="let item of approvedCart;let count=index">
                    <td>
                        <img class="product-img" [routerLink]="['/product-detail',item.ProductID]" [routerLinkActive]="['router-link-active']" [src]="'https://securedgear.com/sites/998/products/998_' +item.ProductID+'_'+item.ImageFile" />
                    </td>
                    <td>
                        <h5><a [routerLink]="['/product-detail',item.ProductID]" [routerLinkActive]="['router-link-active']">{{item.ProductName}}</a></h5>
                        <div>
                            <span *ngFor=" let item2 of item.Colors;"><span  class="colorslisted"><i class="fa fa-dot-circle-o"></i>{{item2}} </span> </span>
                        </div>
                    </td>
                    <td>{{item.Price| currency:'USD'}}</td>

                </tr>
            </table>
        </div>
    </div>
</div>