
::ng-deep .list {
    width:400px;
}
::ng-deep .green-snackbar {
    background:rgb(3, 122, 3) !important;
    
  }
  ::ng-deep .red-snackbar {
    background:#F44336 !important;
    
  }
  ::ng-deep.mat-simple-snackbar-action{
    color: white !important;
  }