<div class="col-md-12">
    <span class="col-md-4 text-md-right">
    <button class="btn btn-primary pull-right" (click)="Close()"> Go Back</button>
    </span>
</div><br>

<mat-horizontal-stepper #stepper>
  <mat-step >    
      <ng-template matStepLabel>Select Product</ng-template>   
      <mat-form-field>
        <input matInput [(ngModel)]="searchText" (click)="openSelector();selectedProduct=''" (change)="openSelector();selectedProduct=''"  placeholder="Search Product">
      </mat-form-field>   
      <mat-form-field class="list">
        <mat-select [(value)]="selectedProduct" matInput placeholder="Product Name" required>          
          <mat-option  *ngFor="let item of allProducts?.products| searchproductfilter : searchText" [value]="item.ProductID" >{{item.ProductName}}</mat-option>          
        </mat-select>
      </mat-form-field>
      <p>Selected Product Id: {{selectedProduct}}</p>
      <div>
        <button mat-button (click)="CheckSelection(stepper,selectedProduct)">Next</button>
      </div>
   
  </mat-step>
  <mat-step >    
      <ng-template matStepLabel>Select Colors</ng-template>
         <div>
           <h3>
            {{myData?.colors[0].ProductName}}
           </h3>
         </div>
        <div *ngIf="myData">
            <img class="product-img" [src]="'https://www.afhsgear.com/sites/998/products/998_' +myData?.colors[0].ProductID+'_'+getThumb(myData?.colors[0].ImageFile)"/>
          <p> 
              <span *ngFor="let colors of myData.colors;let i=index">
                <span style="border: 1px solid black;padding: 5px;overflow: auto;display: inline-block;margin: 5px;">
                  <input *ngIf="colors.ProductID!=null" type="checkbox" (change)="AddRemove(colors.ProductID,colors.Attr2,colors.A2_Label,colors.Price,colors.ProductName,colors.ImageFile,$event)" /> {{colors.A2_Label}}
                  <img class="product-img" [src]="'https://www.afhsgear.com/sites/998/products/998_' +myData?.colors[0].ProductID+'_'+getThumb60(colors.ImageFile)"/>
                </span> 
              </span>  
          </p>
        </div>
      
      <div>
          <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="Save()">Save</button>        
      </div>
   
  </mat-step>

</mat-horizontal-stepper>
