::ng-deep.mat-horizontal-stepper-header{
    pointer-events: none !important;
}

::ng-deep.mat-step-header .mat-step-icon,.mat-raised-button.mat-primary {
    background-color: rgb(170, 173, 0);
}

.buttons_style button{
  margin-right: 8px;
}