<span class="step-one">
<button style="float: right;" mat-button (click)="closeDialog()">Close</button>
<mat-card-title>Select Categories</mat-card-title><br>
<mat-card-subtitle>Select from the categories to simplify your selection experience. </mat-card-subtitle>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <div *ngFor="let item of myData?.cats; let i=index">
    <mat-step *ngIf="item.CategoryParent==0">      
        <ng-template  matStepLabel>{{item.CategoryName}}</ng-template>
        <div *ngFor="let item2 of myData?.cats">
          <span *ngIf="item.CategoryID== item2.CategoryParent">
            <input type="checkbox" (change)="AddRemoveCat($event,item2.CategoryID)">{{item2.CategoryName}}
          </span>
        </div>
        <div class="buttons_style">
          <button  color="primary" mat-raised-button (click)="Reset();stepper.reset()">Reset </button> 
          <button  color="primary" *ngIf="i!=2" mat-raised-button matStepperNext>Next </button> 
          <!-- <button *ngIf="i!=0" mat-button matStepperPrevious>Back</button> -->
          <button   color="primary" *ngIf="i==2" mat-raised-button (click)="SaveCat()">Save </button>         
        </div>      
    </mat-step>
  </div>
  </mat-horizontal-stepper>
</span>
